<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">onReel</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/"
        >Home <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" routerLink="movielist">Movies</a>
      <a class="nav-item nav-link" routerLink="tvlist">TV Shows</a>
    </div>
  </div>
</nav>
